body{
    margin: 0;
}

h1{
    display: block;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
}

.ico{
    max-width: 300px;
    max-height: 300px;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.weather{
    text-align: center;
    width: 10%;
    height: 100px;
    background-color: aquamarine;
    border-radius: 5px;
    border: 3px solid lightblue;
    transition: all .8s;
    overflow: hidden;
}

.weather:hover{
    width: 20%;
    height: 500px;
}

.img{
    width: 100px;
    

}